@import "./reset.css";

html {
  font-family: Sofia Sans, sans-serif;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}
body {
  background: #000 url("../image/5073414.jpg") center center / cover no-repeat fixed;
  background-color: #000;
  color: #fff;
}
.center {
  display: grid;
  width: 100%;
  margin: auto;
  margin-top: 200px;
  place-items: center;
}
.icon {
  margin-bottom: 30px;
  place-content: center;
  color: red;
  font-size: 50px;
  transition: all 0.5s ease-in-out; 
}
.move-icon{
  animation: move 0.5s ease-in-out;
}
.shake-icon{
  animation: shake 0.5s;
}
@keyframes move {
 0%   { 
 transform: translateX(0%);
 opacity: 1; 		
 }
 100% { 
 transform: translateX(400%); 
 opacity: 0;
 }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.word-display {
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1px solid #fff;
  background-color: #000;
  border-radius: 10px;
}
.type-word {
  height: 75px;
  text-align: center;
  font-size: 50px;
}
.input {
  margin-top: 40px;
  height: 70px;
  background-color: lightgreen;
  width: 350px;
  border-radius: 60px;
  text-align: center;
  font-size: 30px;
  padding: 0 20px;
  border: 2px solid #fff;
}
.time-left {
  font-size: 20px;
  margin: 20px 0 20px;
  width: 350px;
  text-align: center;
}
.btn {
  position: relative;
  left: calc(50% - 75px);
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
  font-size: 17px;
  border: none;
  outline: none;
}
.btn svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn svg rect {
  stroke-width: 3;
  stroke-dasharray: 0,0;
  stroke-dashoffset: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}
.btn span {
  background: rgba(255,130,130,1);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}
.information {
  width: 350px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.score-board {
  width: 350px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}